# --- Logs & Runtime ---
​
*.log
api.log
worker.log

# ​--- ML Artifacts ---
​
sql_model.pkl
training_data.csv
​
# --- Hidden Python Files ---
​
# ---Compiled bytecode ---
​
**/pycache/
*.py[cod]
​
# --- Local environment/IDE ---
​
.env
.venv/
.idea/
.vscode/
​
# --- System Garbage ---
​
.DS_Store
.history/
.cache/
.pytest_cache/
​
# --- IMPORTANT ---
​
# Do NOT ignore init.py files as they define the package structure
​
!**/init.py
